<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
    <title>Register | Node Auth</title>
    <style>
      .login-form {
        width: 400px;
        height: 400px;
        margin: 1rem auto;
      }

      .input-group label {
        display: block;
      }

      .input-group input {
        padding: 5px;
        width: 100%;
        margin: 0.5rem auto;
      }

      button {
        padding: 10px 17px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        background: #eee;
        border: 1px solid #333;
        cursor: pointer;
      }
    </style>
  </head>
  
  <body>
    <a href="/">Homepage</a>
    <div class="login-form">
      <h3>Register Page</h3>
      <form action="/register" method="POST">
        <div class="input-group">
          <label for="username">Username:</label>
          <input type="text" name="username" id="username"/>
        </div>
        <div class="input-group">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email"/>
        </div>
        <div class="input-group">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password"/>
        </div>
        <button>Register</button>
      </form>
      <a href="/login">Login</a>
    </div>
  </body>

</html>